{% extends 'Base_FP.html' %}
{% block content %}
<!--Bootstrap Navbar -->
<div class = 'navbar'>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/viewposts">View posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/createpost">Create posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>
</div>

<!-- To edit the profile -->
<h3>Edit Profile...!</h3>
<div class = 'editdetails'>
<a href = '/home'><button>Back</button></a>
<br>
<form method = 'POST'>
<input type = 'text' name = 'name' placeholder = 'Enter the Username'/>
<textarea name = 'info' rows = '1' cols = '20' placeholder = 'Enter the info details'></textarea>
<br>
<a href = '/home'><button>Edit</button></a>
</form>
</div>
{% endblock %}