*{
border:border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight:400;
}

a{
text-decoration:none;
}

div{
box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}


#back{
border:1px solid black;
margin:5px;
background-color:white;
width:80px;
height:30px;
}

#edit,#create,#comment{
background-color:#003585;
color:white;
width:100px;
border:1px solid black;
text-align:center;
width:90px;
height:30px;
}


/* navbar*/
.navbar{
display:flex;
background-color:#003585;
border-radius:5px;

}

.nav{
display:flex;
justify-content:center;
align-items:center;

}

.nav-item{
padding-right:20px;
list-style:none;
}

.nav-link{
padding-right:10px;
color:white;
}

/* input */
input{
width:60%;
height:30px;
font-size:0.85rem;
background-color:white;
outline:none;
border:none;
border-bottom:1px solid black;
margin-left:10px;
padding:5px;
}

#submit_btn{
max-width:200px;
width:100px;
color:white;
background-color:#003585;
border:1px solid black;
border-radius:2px;
}

/* Authentication */
.authentication{
margin-top:15px;
font-size:20px;
height:auto;
padding:10px;
}


/* Home page*/
.userdetails{
display:flex;
flex-direction:column;
margin-top:10px;
padding:5px;
font-weight:800;
}

.userdetails button{
background-color:white;
border:2px solid red;
align-items:center;
margin-top:10px;
height:30px;
width:80px;
}

.userposts{
display:flex;
flex-direction:column;
padding:5px;
}

.attributes{
display:flex;
padding:5px;
justify-content:space-between;
background-color:white;
}

.username{
font-size:25px;
}

.gmail{
font-size:20px;
}

.info, .followers{
font-size:15px;
}

.post{
font-size:20px;
font-weight:700;
}

.date{
font-weight:400;
}

/* edit profile */
.editdetails{
display:flex;
flex-direction:column;
justify-content:space-between;
padding:10px;

height:250px;
}

.editdetails input{
width:50%;
margin-left:0px;
margin-bottom:30px;
}

#edit{
margin-top:5px;
margin-bottom:0px;
}

.editdetails textarea{
height:30px;
border:1px solid black;
margin-bottom:30px;
width:90%;
padding:12px;
}

/*To displah user posts*/
.userposts{
border-radius:5px;
padding:10px;
}

.userposts a .username{
font-size:1rem;
}

/*create/edit post */
.createpost{
height:300px;
display:flex;
flex-direction:column;
justify-content:space-between;
padding:15px 0;
}

.createpost input{
margin:10px;
padding:10px;
}

.createpost textarea{
width:90%;
height:auto;
margin:10px;
font-size:0.85rem;
border:1px solid black;
padding:5px;
}

/* post analytics */
.userpost{
display:flex;
flex-direction:column;
justify-content:space-between;
box-shadow:0px 0px 10px rgba(0,0,0,0.1);
height:500px;
border:none;
}

.userpost button{
background-color:white;
border:2px solid red;
align-items:center;
margin-top:10px;
height:30px;
width:80px;

}

.user_and_post{
display:flex;
flex-direction:column;
justify-content:space-evenly;
padding:10px;
margin: 10px 0px 10px 0px;
}

.reviews{
margin: 10px 0px 10px 0px;
/*removing box shadow*/
box-shadow:0px 0px 10px rgba(0,0,0,0);
}

.reviews i{
color:red;
font-size:25px;
}

.reviews span{
font-size:17px;
padding:2px;
margin:5px;
}

.reviews a{
font-size:14px;
}

.comments{
display:flex;
flex-direction:column;
justify-content:space-between;
border:none;
padding:5px;
margin:5px;
box-shadow:0px 0px 10px rgba(0,0,0,0);
}

.comments .comment{
padding-bottom:5px;
border-bottom:1px solid black;
}

.new_comment{
height:85px;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.new_comment textarea{
width:80%;
border-radius:3px;
padding:5px;
margin:5px;
border-bottom:1px solid black;
}

#comment{
margin:5px;
}

