{% extends 'Base_FP.html' %}
{% block content %}
<!--Bootstrap Navbar -->
<div class = 'navbar'>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/viewposts">View posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/createpost">Create posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>
</div>

<!-- To search a user with the user name -->
<h4>Search User</h4>
<form method = 'POST' action = 'search-user'>
<input type = 'search' name = 'find_user' placeholder = 'Enter user name'/>
</form>

<!-- Message Flashing -->
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for msg in messages %}
    <h5>{{msg}}</h5>
  {% endfor %}
{% endif %}
{% endwith %}

<!-- Displaying searched user/ all users posts -->
<h3>Blogs of Users appear here...!</h3>
<br>

{% for post in user_posts %}
<div class = 'userposts'>
<a href = '/user/{{post.user.id}}'><span class = 'username'>{{post.user.name}}</span></a>
<br>
<span class = 'post'>{{post.text}}</span>
<br>
<span class = 'date'>Created At: {{post.created_at}}</span>
<br>

<!-- To get the post analytics -->
<a href = '/postdetails/{{post.id}}'>Analytics</a>
</div>
<br>
{% endfor %}
{% endblock %}