/*body {
background-color: slategray;
text-align: center;
justify-content:center;
}
p{
color:white;
font-family:Shanti;
font-size:1.2em;
margin:20px;
}
.img{
width:150px;
height:150px;
background-image:url('/storage/emulated/0/PYTHON  VJ 13 SS .py/bird3.png');
background-size:cover;
}
input{
width:300px;
height:50px;
margin: 20px;
border:none;
border-radius:10px;
font-family:Shanti;
font-size:1.3em;
text-align: center;
}

input : focus{
border: solid 5px #00FFCE;
outline:none;
}

#greet{
background-color:palevioletred;
color:white;
width:200px;
}
#greet : hover{
background-color: mediumpalevioletred;
cursor: pointer;
}*/
*{
display:flex;
justify-content:center;
align-items:center;
}
body {
  background-color: slategray;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

p {
  color: white;
  font-family: 'Shanti', sans-serif;
  font-size: 1.2em;
  margin: 20px;
}

.img {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img{
width:150px;
height:150px;
background-size: cover;
}

input {
  width: 300px;
  height: 50px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  font-family: 'Shanti', sans-serif;
  font-size: 1.3em;
  text-align: center;
}

input:focus {
  border: solid 5px #00FFCE;
  outline: none;
}

#greet {
  background-color: palevioletred;
  color: white;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-family: 'Shanti', sans-serif;
  font-size: 1.3em;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

#greet:hover {
  background-color: mediumpalevioletred;
}
