*{
box-sizing:border-box;
margin:0;
padding:0;
}

.container{
display:flex;
justify-content:center;
align-items:center;
height:600px;
padding:10px;
}

.home{
border:1px solid black;
}

.home h3{
font-size:15px;
}

.home form{
border:1px solid black;
padding:10px;
margin:10px;
}

.home form input{
margin:10px 0;
height:35px;
width:90%;
padding-left:5px;
border:none;
border-bottom:1px solid black;
}

.home form select{
width:100px;
height:35px;
margin-bottom:10px;
}

.home form button{
width:150px;
height:30px;
}

.home .additionals h3{
font-size:10px;
margin:7px;
}

