<!DOCTYPE html>
<html>
<head>
<meta charset = 'UTF-8'>
<title>Say Hello</title>
<link rel = 'stylesheet' href ="{{ url_for('static', filename = 'hey.css')}}">
</head>
<body>
<div class = 'img'>
<img src = "{{url_for('static',filename ='bg.png')}}">
</div>
<br>
<!- action == greet means we aee storing the data in the variable greet -->
<form action = 'greet' method = 'POST'>
<!--<p>What is your name?</p> -->
{% for messages in get_flashed_messages() %}
<p> {{messages}} </p>
{% endfor %}
<br>
<input type = 'text' name = 'name_input'>
<br>
<input type = 'submit' value = 'greet' id = 'greet'>
</body>
</html>