{% extends 'Base_FP.html' %}
{% block content %}
<!--Bootstrap Navbar -->
<div class = 'navbar'>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/viewposts">View posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/createpost">Create posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>
</div>

<!-- Message Flashing -->
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for msg in messages %}
    <h4>{{msg}}</h4>
  {% endfor %}
{% endif %}
{% endwith %}

<div class = 'userpost'>
<a href = '/viewposts'><button id = "back">Back</button></a>
<div class = 'user_and_post'>
User: <a href = '/user/{{post.user.id}}'><span class = 'username'>{{post.user.name}}</span></a>
<br>
Post:<span class = 'post'>{{post.text}}</span>
<br>
</div>

<div class = 'reviews'>
<!-- toggling the like button -->
{% if user_liked == 1 %}
<a href = '/likepost/{{post.id}}'><i class="fa-solid fa-heart"></i> </a> {{total_likes}}
{% else %}
<a href = '/likepost/{{post.id}}'><i class="fa-regular fa-heart"></i></a> {{total_likes}}
{% endif %}

<div class ='comments'>
<!-- Displaying all comments -->
<h3>{{total_comments}} Comments: </h3>
{% for comment in comments%}
<a href = '/user/{{comment.user.id}}'><span class = 'username'>{{comment.user.name}}</span></a>
<span class = 'comment'>{{comment.text}}</span>

<!-- option for author to delete the comment -->
{% if current_user == post.user.name or current_user == comment.user.name%}
<a href = '/deletecomment/{{comment.id}}/{{post.id}}'>Delete </a>

{% endif %}
<br>
{% endfor %}
</div>

</div>

<div class = 'new_comment'>
<!-- Enter new comment -->
<form method = 'POST'>
<textarea name = 'comment' rows = '1' cols = '10' placeholder ='Enter your Comments '></textarea>
<br>
<a href ='/postdetails/{{post.id}}'><button id = 'comment'>Comment</button></a>
</form>
</div>

</div>
{% endblock %}