{% extends 'messages.html' %}
{% block content %}

<h1>Chat Room: {{room}}</h1>

<!- message can come in 3rows -->
<input type = 'text' rows = '3' placeholder = 'enter message' name = 'name' />

<!- sendmessage() is a java script function -->
<button type = 'button' name = 'send' onclick = 'sendmessage()' >
send
</button>

<!- page updates
var scoketio = io();
we connected to the socket  -->
<!- sendmessage is the function name () parameters {} the body -->
<script type = 'text/javascript'>
var scoketio = io();
const 
const sendmessage = () => {
console.log('send')
};
</script>

{% endblock %}