{% extends 'Base_FP.html' %}
{% block content %}
<!--Bootstrap Navbar -->
<div class = 'navbar'>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/viewposts">View posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/createpost">Create posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>
</div>

<!-- Displaying user details -->
<div class = 'userdetails'>
<span class = 'username'>User : {{view_user.name}}</span>
<br>
<span class = 'gmail'>Gmail : {{view_user.email}}</span>
<br>
<span class = 'info'>Info : {{view_user.info}}</span>
<br>
{%if profile_viewed == view_user.name %}
Followers = {{total_followers}}
{% else %}

{% if Follow == 1 %}
<a href = '/follow-user/{{view_user.id}}'>UnFollow : <i class="fa-solid fa-bell"></i></a>
{% else %}
<a href = '/follow-user/{{view_user.id}}'>Follow : <i class="fa-regular fa-bell"></i></a>
{% endif %}
Followers = {{total_followers}}

{% endif %}

<br>
<a href = '/viewposts'><button id = "back">Back</button></a>
</div>

<!-- Viewing the user posts -->
<h5>See {{view_user.name}}'s Posts...!</h5>

<span>{{total_posts}} Posts</span>
<br>
<br>
{% for post in view_user_posts %}
<div class = 'userposts'>
<span class = 'post'>{{post.text}}</span>
<br>
<span class = 'date'>Created At: {{post.created_at}}</span>
<a href = '/postdetails/{{post.id}}'>Analytics</a>
</div>
<br>
{% endfor %}
{% endblock %}